.bg{
    background:url(../img/fi.jpg) ; 
    opacity: 0.9;
    background-size: cover;
    width: 100%;
    height:100vh;
}

.form-container{
    padding: 20px 20px;
    margin: 30vh 0;
    width:100%;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.9);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.9);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.9);
}
form label{
    color: #fff7d8;
    font-weight: 600;
    font-size: 20px;
}
.heading{
    background-color: #0f0e0e;
    color: #faeebb;
    font-weight: 400;
}
.btn-logout{
    display: inline-block;
    color: #fff;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px;
    text-align: center;
    border-radius: 2px;
    background-color: #47812e;
    background-image: linear-gradient(to bottom ,rgba(0,0,0,0) 80% ,rgba(0,0,0,1));
    transition: background-color 0.2s,  color 0.5s;
}
.btn-logout:hover{
    text-decoration: none;
    background-color:  #52b726;  
    color: #000;
    font-weight: 600;
    padding: 10px 10px;
    text-align: center;
    border-radius: 2px;
    width: 100%;
}

.btn:link{
    padding-bottom: 10px;
    background-color: #fff;
    background-image: linear-gradient(to bottom ,rgba(0,0,0,0) 80% ,rgba(0,0,0,1));
    transition: background-color 0.2s,  color 0.5s;
}
.btn:hover{
    background-color: #5353ff;
    color:white;
    
}
